* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(252, 245, 229, 1);
  font-family: "Poppins", sans-serif;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5px 0;
}
.profile-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.875rem 0 1.25rem;
  max-width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #21212166;

  & .profile-container-left {
    display: flex;
    gap: 15px;
    max-height: 10rem;

    & > img {
      width: 10rem;
      height: 10rem;
      border-radius: 0.625rem;
      object-fit: fill;
    }

    & .name {
      max-width: 22ch;
      /* max-height: 80px; */
      display: -webkit-box;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 2rem;
      font-weight: 600;
      line-height: 100%;
    }

    & .title {
      font-size: 1rem;
      max-width: 40ch;
      /* max-height: 90px; */
      display: -webkit-box;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 100%;
    }

    & .user-details {
      display: flex;
      flex-direction: column;
      /* align-items: flex-start; */
      /* gap: 5rem; */
      justify-content: space-between;
      /* gap: 0.5rem; */
      /* height: 11.875rem; */
    }

    & .edit-btn {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 8px;
      font-weight: 600;
      opacity: 70%;
      color: #212121;
      cursor: pointer;
      transition: 1s ease-in;
      background-color: transparent;
      border: none;
      outline: none;
      margin-top: 7px;
    }
  }

  & .edit-btn:hover {
    color: #212121;
    opacity: 100%;
  }

  & .new-post-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #212121;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in;
  }

  & .new-post-btn:hover {
    opacity: 70%;
  }
}
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1.25rem 2.5rem;
  width: 100%;
  border-bottom: 1px solid #21212166;

  & .image {
    width: 100%;
    max-height: 26.25rem;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  & .image-title {
    display: flex;
    gap: 0.3125rem;
    padding-top: 1rem;
    justify-content: space-between;

    & p {
      font-size: 18px;
      font-weight: 500;
    }

    & button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.modal-overlay {
  position: fixed;
  background-color: #f8f8f8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25rem;
  width: 100%;
  padding: 2rem 2rem;
  z-index: 1;
  border: none;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;

  & .modal-box {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & input {
      background-color: transparent;
      border: none;
      outline: 1px solid #f8f8f8;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border-bottom: 0.2px solid slategray;
      margin-top: -10px;
    }
    & ::placeholder {
      font-style: italic;
      font-size: 12px;
    }

    & input[type="file"] {
      border: none;
      border-radius: 0;
      outline: 0;
      cursor: pointer;
    }
  }
  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    cursor: pointer;
  }
  .btn-open {
    background-color: #212121;
    color: #fcf5e5;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 1s ease-in;
  }
  & .btn-open:hover {
    opacity: 70%;
  }
}

@media Screen and (min-width: 300px) and (max-width: 450px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 2rem; */
    height: 500px;

    & .profile-container-left {
      flex-direction: column;
      align-items: center;

      & .user-details {
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 15px;
      }
    }
  }
  & .user-details1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  & .new-post-btn{
    width: 22rem;
    height: 60px;
    justify-content: center;
    /* padding: 20px 30px; */
  }
  .image-container {
    display: flex;
    flex-direction: column;
  }
}

