@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(252, 245, 229, 1);
  font-family: "Poppins", sans-serif;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5px 0;
}
.profile-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.875rem 0 1.25rem;
  max-width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #21212166;

  & .profile-container-left {
    display: flex;
    gap: 30px;

    & .name {
      max-width: 35ch;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 25px;
      font-weight: 600;
    }

    & .title {
      max-width: 45ch;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .user-details {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    & .edit-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      opacity: 70%;
      color: #212121;
      cursor: pointer;
      transition: 1s ease-in;
    }
  }

  & .edit-btn:hover {
    color: #212121;
    opacity: 100%;
  }

  & .new-post-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #212121;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease-in;
  }

  & .new-post-btn:hover {
    opacity: 70%;
  }
}
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1.25rem 2.5rem;
  width: 100%;
  border-bottom: 1px solid #21212166;

  & .image {
    width: 100%;
    max-height: 26.25rem;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  & .image-title {
    display: flex;
    gap: 0.3125rem;
    padding-top: 1rem;
    justify-content: space-between;

& p{
    font-size: 18px;
    font-weight: 500;
}

    & button {
      cursor: pointer;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
